form{
    .container{
        .col{
            padding: 0;
        }
        .e-mail{
            width: 900px;
        }
    }
}

.contact{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 0;
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: 10px 0;
                text-align: center;
            }
        }
    }
}