footer{
    color: white;
    .logo{
      width: 100px;
    }
    p{
      margin-top: 40px;
      width: 450px;
    }
  
    ul{
      list-style: none;
      padding: 0;
      li{
        padding: 10px;
      }
    }
  }
